{block title}Přístup zamítnut{/block}
{block content}

<p>Nemáte opravnění přístupu na tuto stránku. 
    Pokud si myslíte, že je to chyba prosím kontaktujte administrátora.</p>

<p><small>error 403</small></p>

<div class="col-md-9 center-block">
    <img src="{$basePath}/images/error.jpg" alt="error" class="error-pic">
</div>    

