{define title}Stránka nenalezena{/define}
{block content}

<p>Stránka, na kterou se snažíte vstoupit nebyla nalezena.
    Je možné, že máte špatnou adresu, nebo stránka už neexistuje.
    Můžete použít vyhledávač.</p>

<p><small>error 404</small></p>

<div class="col-md-9 center-block">
    <img src="{$basePath}/images/error.jpg" alt="error" class="error-pic">
</div>    