{define title}Metoda není povolena{/define}
{block content}
<p>Metoda, kterou se dotazujete serveru není povolena pro URL </p>

<p><small>error 405</small></p>

<div class="col-md-9 center-block">
    <img src="{$basePath}/images/error.jpg" alt="error" class="error-pic">
</div>    