{define title}Oops...{/define}
{block content}

<p>Váš prohlížeč odeslal požadavek, kterému náš server nerozumí a nemůže ho zpracovat. Zkuste jinou stránku.</p>

<div class="col-md-9 center-block">
    <img src="{$basePath}/images/error.jpg" alt="error" class="error-pic">
</div>    