<h3>Novinky</h3>
{snippet news}

<a n:ifset="$permalink" n:href="allNews!">Všechny zprávy</a>    
    
{foreach $news as $new}
    <div class="news">
        <span>{$new->title}: </span>
        {$new->text}
        <div>
            <a href="{plink :User:detail $new->byUser}">{\App\Helper\Helper::combineUserName($new->ref('user'))}</a>                      
            {$new->keyWords}
            {$new->date|date:'%d.%m.%Y'}
            <a n:if="!isset($permalink)" n:href="permalink!, $new->url">Link</a> 

            <a n:if="$authorizator->canUse('FastNews', $new->id)" href="{plink :Admin:News:moderate $new->id}">Upravit</a>
        </div>
    </div>
{/foreach}

<a class="ajax" n:if="$user->isAllowed('FastNews', 'add') && !isset($addNews)" n:href="addNews!">Přidat novinku</a>

{ifset $addNews}
    <a class="ajax" n:href="noAdd!">Zavřít</a>
    <h4>Přidání novinky</h4>
    <div class="newsAdd">
        {control addForm}
    </div>
{/ifset}

{/snippet}