<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        
        <title>{ifset title}{include title|striptags} | {/ifset}{ifset titleMeta}{include titleMeta|striptags} | {/ifset}Ars poetica - zájmový on-line magazín</title>
        
        <meta n:ifset="description" name="description" content="{include description|striptags, strip}">
        <meta name="viewport" content="width=device-width, initial-scale=1">
	{ifset fb}{include fb}{/ifset}

	<link rel="apple-touch-icon" sizes="57x57" href="{$basePath}/images/icon/apple-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="{$basePath}/images/icon/apple-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="{$basePath}/images/icon/apple-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="{$basePath}/images/icon/apple-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="{$basePath}/images/icon/apple-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="{$basePath}/images/icon/apple-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="{$basePath}/images/icon/apple-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="{$basePath}/images/icon/apple-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="{$basePath}/images/icon/apple-icon-180x180.png">
	<link rel="icon" type="image/png" sizes="192x192"  href="{$basePath}/images/icon/android-icon-192x192.png">
	<link rel="icon" type="image/png" sizes="32x32" href="{$basePath}/images/icon/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{$basePath}/images/icon/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{$basePath}/images/icon/favicon-16x16.png">
	<link rel="manifest" href="{$basePath}/images/icon/manifest.json">
	<meta name="msapplication-TileColor" content="#ffffff">
	<meta name="msapplication-TileImage" content="{$basePath}/images/icon/ms-icon-144x144.png">
	<meta name="theme-color" content="#ffffff">
        
        <link rel="stylesheet" href="{$basePath}/css/styles.css">
        
    {block scripts}
        <script src="{$basePath}/js/vendor/modernizr.js"></script>
        <script src="{$basePath}/js/vendor/jquery.js"></script>
        <script src="{$basePath}/js/vendor/netteForms.js"></script>
        <script src="{$basePath}/js/vendor/nette.ajax.js"></script>
	<script src="{$basePath}/js/vendor/infinitescroll.js"></script>
        <script src="{$basePath}/js/main.js"></script>
        <script src="{$basePath}/js/vendor/bootstrap.min.js"></script>
        <script src="{$basePath}/js/vendor/magnific-popup.min.js"></script>
        

    {if \Tracy\Debugger::$productionMode}        
        <script>      
            (function(i,s,o,g,r,a,m){l}i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){l}
            (i[r].q=i[r].q||[]).push(arguments){r},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            {r})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-70901554-1', 'auto');
            ga('send', 'pageview');
        </script>
        
        <script>
            var _paq = _paq || [];
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="//piwik.trko.eu/";
                _paq.push(['setTrackerUrl', u+'piwik.php']);
                _paq.push(['setSiteId', 1]);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        
        <noscript><p><img src="//piwik.arspoetica.net/piwik.php?idsite=1" style="border:0;" alt="" /></p></noscript>
    {/if}


        
        {/block}
    </head>
    <body>               
        
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/cs_CZ/sdk.js#xfbml=1&version=v2.5&appId=1252758588086042";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
        
        <div class="container" id="arspoetica">
            
            <header class="col-md-12">                         
                <div class="header-left">
		    <a href="/"><img src="{$basePath}/images/logo-min.png"></a>
		</div>
		
		<div class="header-middle">
		    <a href="/"><img src="{$basePath}/images/logo-mid.png"></a>
		</div>
		
		<div class="header-right">
		    <a href="/"><img src="{$basePath}/images/banner.png"></a>
		</div>
               
            </header>
                
            <div class="clearfix"></div>  
            
            <nav n:snippet="menu" class="navbar navbar-default nav-all">

                <div class="container-fluid">

                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1, #navbar-collapse-0" aria-expanded="false">
                            <span class="sr-only">Navigace</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                    </div>

                    <div class="collapse navbar-collapse" id="navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            
                        {foreach $menu as $menuItem} 
                            {var current = $presenter->isLinkCurrent(':Article:', ['section' => $menuItem->url])}

                            <li class="{if $current}active-menu{/if}">
                                <a n:href="':Article:'.$menuItem->url">
                                    {$menuItem->name}
                                    <span n:if="$current" class="sr-only">(current)</span>
                                </a>
                            </li>
			    <div class="nav-line"></div>
                        {/foreach}  
			
			{foreach [':Homepage:oNas' => 'o nás', ':Homepage:spolupracujeme' => 'spolupracujeme'] as $url => $name} 

                            <li class="nav-right {if $presenter->isLinkCurrent($url)}active-menu{/if}">
                                <a n:href="$url">
                                    {$name}
                                    <span n:if="$current" class="sr-only">(current)</span>
                                </a>
                            </li>
			    <div class="nav-line"></div>
                        {/foreach}  
			
			
				{if $user->isLoggedIn()}
					<li>
                                <span class="dropdown">
                                    {var userName = explode(' ', App\Helper\Helper::combineUserName($user->getIdentity()->data))}
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{$userName[1]} <span class="caret"></span></a>
                                                             
                                    <ul class="dropdown-menu">
                                        <li class="nav-last {if $presenter->isLinkCurrent(':Setting:')}active-menu{/if}">
                                            <a n:href=":Setting:">Osobní nastavení</a>
                                            <span n:if="$presenter->isLinkCurrent(':Setting:')" class="sr-only">(current)</span>
                                        </li>    
					
					<li class="nav-last  {if $presenter->isLinkCurrent(':Admin:Homepage:default')}active-menu{/if}" n:if="$user->isAllowed('Admin', 'can')">
					    <a n:href=":Admin:Homepage:default">Administrace</a>
					    <span n:if="$presenter->isLinkCurrent(':Admin:Homepage:default')" class="sr-only">(current)</span>
					</li> 
                                
                                        <li class="nav-last">
                                            <a n:href=":Log:out, $presenter->storeRequest()">Odhlásit <i class="fa fa-sign-out"></i></a>
                                        </li> 
                                    </ul>   
                                    
                                    </span>
				    </li> 
                            {else}
				<li class="nav-right {if $presenter->isLinkCurrent($url)}active-menu{/if}">
                                    <a n:href=":Log:in, $presenter->storeRequest()" data-toggle="tooltip" title="Přihlásit se">			
					přihlásit
				    </a>
				</li>  
                                
                            {/if}
			   <div class="nav-line"></div>
			
			
			<li class="nav-last">			    
			    {form searchForm}     
				hledat
				{input search} 
			    {/form}
			</li>    
			
                        </ul>
					
                                    
                             
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav> 
			                   
            <article class="col-md-9" style="width: 82%;">
                {snippet flashMessage}
                    <div n:foreach="$flashes as $flash" n:class="alert, 'alert-'.$flash->type">{$flash->message}</div>
                {/snippet}
            
                <noscript>
                    <div class='alert alert-danger'> 
                    Pro plnou funkčnost těchto stránek je nutné povolit JavaScript.
                    Zde jsou <a href="http://www.enable-javascript.com/cz/" target="_blank">
                    instrukce jak povolit JavaScript ve Vašem webovém prohlížeči</a>.
                    </div>
                </noscript>
            
                <!--[if lt IE 8]>
                    <div class='alert alert-danger'>
                        <p class="browserupgrade">
                            You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
                        </p>
                    </div>   
                <![endif]--> 
            
                <h1 n:ifset="title" class="page-header">{include title}</h1>
            
                   
                {include content}
                
                
            </article>    
                           
            <aside id="right-panel" class="col-md-3" style="width: 18%;" >                               
            <div data-spy="affix" data-offset-top="240">
                
		{ifset right-column}
                    {include right-column}   	    
                {/ifset}      
                       
                <div class="fb-page" data-href="https://www.facebook.com/arspoetica.net/" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <div class="fb-xfbml-parse-ignore">
                        <blockquote cite="https://www.facebook.com/arspoetica.net/">
                            <a href="https://www.facebook.com/arspoetica.net/">Ars poetica</a>                     
                        </blockquote>
                    </div>
                </div>
                {*
                <a class="twitter-timeline"  href="https://twitter.com/Arspoeticatw" data-widget-id="714855520239292416">Tweety</a>
                <script>!function(d,s,id){l}var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){l}js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                *}

                <hr>
                <script src="https://snapwidget.com/js/snapwidget.js"></script>
                <iframe src="https://snapwidget.com/embed/code/163494" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:205px; "></iframe>
                <hr>
                        
		Reklama
	    </div>
            </aside>
                           
        </div>
        
         
           
        {ifset #hide}    
            <script>
                $('.hide-box').css('display','none');
    
                $('.arrowText').on('click',function (){
                    var txt = $(this).next('.hide-box'); 
                    if(txt.css('display') === 'none'){
                        txt.show(200);
                        $(this).children('.arrow').css('transform', 'rotate(-180deg)');
                    }
                    else{
                        txt.hide(100);
                        $(this).children('.arrow').css('transform', 'rotate(0deg)');
                    }
                }); 
            </script>
        {/ifset}            
                
    {ifset #script}
        {include script}
    {/ifset}  
       
    
    </body>
</html>
