<span n:snippet="flashMessageComment">
        <span n:foreach="$flashes as $flash" class="alert alert-success alert-float" id="alert">{$flash->message}</span>
        <script>$("#alert").delay(2000).fadeOut(500);</script>
</span>
        
        
{snippet commentContainerAll}
     {snippet captchaContainer}
    <div class="discussion" n:snippet="commentContainer" n:inner-foreach="$comments as $comment">  
        
        {snippet comment-$comment->id}
        <div id="comment-{$comment->id}">
        
        <div class="comment" >    
            <div class="head">
            
                {if $comment->byUser}           
                    <a href="{plink User:detail $comment->byUser}">{\App\Helper\Helper::combineUserName($comment->ref('byUser'), false)}</a>
                {else}
                    <span>{$comment->unregName}</span>
                {/if}
                
                {$comment->date|timeInterval}
             
                
                {control rating-$comment->id (($user->isLoggedIn() && $comment->byUser === $user->getId()) || $comment->deleted != 0)}  
            
                {if (($comment->byUser && $comment->byUser === $user->getId()) || $user->isAllowed('Comments', 'moderate')) && $user->isLoggedIn()}
                    {include moderate, id => $comment->id, sub => 'false'}
                {/if}              
            </div>
        
            {if $comment->deleted == 0}
                <p>{$comment->text|noescape}</p>  
            {else}    
                <p style="color:#999999">Smazaný komentář</p>
            {/if}          
        </div> 
    {if $comment->deleted == 0}    
        {var $commentsUnder = $comment->related('commentUnder', 'forComment')}               
        
        {if count($commentsUnder) > 0}  
            <div class="react arrowText"><img src="{$basePath}/images/arrow.png" alt="rozbalit" class="arrow"/> Reakce ({count($commentsUnder)})</div>
        {else}    
            <div class="react arrowText"><img src="{$basePath}/images/arrow.png" alt="rozbalit" class="arrow"/> Reagovat</div>
        {/if}    
            
            <div class="subcomments hide-box">                                             
                
                <div class="subcomment" n:inner-foreach="$commentsUnder as $subComm">   

                    
                    <div class="head">
            
                        {if $subComm->byUser}           
                            <a href="{plink User:detail $subComm->byUser}">{\App\Helper\Helper::combineUserName($subComm->ref('byUser'), false)}</a>
                        {else}
                            <span>{$subComm->unregName}</span>
                        {/if}
                
                        {$subComm->date|timeInterval}            
                
                        {control ratingUnder-$subComm->id (($user->isLoggedIn() && $subComm->byUser === $user->getId()) || $subComm->deleted != 0)}  
            
                        {if (($subComm->byUser && $subComm->byUser === $user->getId()) || $user->isAllowed('Comments', 'moderate')) && $user->isLoggedIn()}
                            {include moderate, id => $subComm->id, sub => 'true', subFor => $subComm->forComment}
                        {/if}      
                    </div>
        
                    {if $subComm->deleted == 0}
                        <p>{$subComm->text|noescape}</p>  
                    {else}    
                        <p style="color:#999999">Smazaný komentář</p>
                    {/if}
                    
                </div> 
                <p n:if="!$user->isLoggedIn()">Pokud chcete komentovat, prosím <a href="{$presenter->link('Log:in', $presenter->storeRequest())}">přihlašte</a> se, nebo <a href="{$presenter->link('Log:registrovat')}">zaregistrujte</a></p>
        
                <div class="subform">    
                    {form addComment}
                        <ul class="errors" n:if="$form->hasErrors()">
                            <li n:foreach="$form->errors as $error">{$error}</li>
                        </ul>
                
                    <div class="subform-center">
                        {if !$user->isLoggedIn()}
                            {input unregname placeholder=>'Vaše jméno'}
                        {/if}
            
                        {input text placeholder=>Okomentovat}   
                      
                        {if !$user->isLoggedIn()}
                                
                            <div n:snippet="captcha-$comment->id">
                                <img src="/captcha?t={rand(0,10000)}&color=DFDFDF&size=13" src="captcha image" />
                                <a class="ajax" n:href="NewCaptcha!, $comment->id">Nová otázka</a>
                            </div>  
                                
                            {$_form['captcha']->getControl()->addAttributes(['placeholder'=>'Odpověd na otázku ↑'])}
                                                        
                        {/if}
                    </div>      
            
                        {input submit, class=>button}
                    <input name="subcomment" value="{$comment->id}" type="hidden">
                    {/form} 
                </div>                      
            </div> 
    {/if}     
        </div>        
        {/snippet}
            
       

    </div>  
        
        
        
        <script>   
            
  
    $('.hide-box').css('display','none');
  
    
  {ifset $currentSubComment}
      {var com = '#comment-'.$currentSubComment}
      
        $({$com}).children('.hide-box').css('display', 'block');
  {/ifset} 
      
      {ifset $badAnswer}
      
        $('.captchain').css('display', 'none');
        
    {else}
        $('.captchain').css('display', 'block');
      {/ifset} 
    
    
    
                $('.arrowText').on('click',function (){
                    var txt = $(this).next('.hide-box'); 
                    if(txt.css('display') === 'none'){
                        txt.show(200);
                        $(this).children('.arrow').css('transform', 'rotate(-180deg)');
                    }
                    else{
                        txt.hide(100);
                        $(this).children('.arrow').css('transform', 'rotate(0deg)');
                    }
                });      
    
    $('.formmain input[type=submit]').click(function(){
        $('html, body').animate({
            scrollTop: $("#snippet-comments-commentContainer").offset().top
        }, 500);
    });
    
    
    $('.paginatorPage a').click(function(){
        $('html, body').animate({
            scrollTop: $("#snippet-comments-commentContainer").offset().top
        }, 500);
    });
    
    {ifset $closeModal}      
        $('body').removeClass();
        $('body').css("padding-right", '');
        $('div').remove('.modal-backdrop');
    {/ifset} 
</script>
        
        
        
    {/snippet}   
    {if $lastPage != 1}
        <div class="paginator">
            {for $page = 1; $page <= $control->lastPage; $page++ }
                <span class="paginatorPage"><a class="ajax {if $page == $control->page}activePage{/if}" n:href="page! $page">{$page}</a></span>    
            {/for}
        </div>
    {/if}     
       
    
        <h4>Okomentovat: </h4>
        <p n:if="empty($comments)">Zatím nikdo nekomentoval, buďte první !</p>
        {if !$user->isLoggedIn()}
            <p>Pokud chcete komentovat, prosím <a href="{$presenter->link('Log:in', $presenter->storeRequest())}">přihlašte</a> se, nebo <a href="{$presenter->link('Log:registrovat')}">zaregistrujte</a></p>
            <div class="arrowText2"><img src="{$basePath}/images/arrow.png" alt="rozbalit" class="arrow2"/> Komentovat jako neregistrovaný</div>
        {/if}
        
           
    <div class="formmain {if !$user->isLoggedIn()}hide-box2{/if}">
        
        {form addComment}
            <ul class="errors" n:if="$form->hasErrors()">
                <li n:foreach="$form->errors as $error">{$error}</li>
            </ul>
                
            <div class="formmainpole">     
                
                {if !$user->isLoggedIn()}
                    {input unregname placeholder=>'Vaše jméno'}
                {/if}
                {input text placeholder=>Okomentovat}   
            </div> 
                
            {if !$user->isLoggedIn()}
                <div class="captcha-comment">
                    <div n:snippet="captchaStatic">
                        <img src="/captcha?t={rand(0,10000)}&color=DFDFDF&size=13" src="captcha image" />
                        <a class="ajax" n:href="NewCaptcha!">Nová otázka</a>
                    </div>          
                    <div>
                        {$_form['captcha']->getControl()->addAttributes(['placeholder'=>'Odpověd na otázku ↑'])}
                    </div>
                </div>  
            {/if}
            
            {input submit, class=>button}
        {/form}
        
    </div>  
        
        
        <script>    
  
    $('.hide-box2').css('display','none');
  
    
                $('.arrowText2').on('click',function (){
                    var txt = $(this).next('.hide-box2'); 
                    if(txt.css('display') === 'none'){
                        txt.show(200);
                        $(this).children('.arrow2').css('transform', 'rotate(-180deg)');
                    }
                    else{
                        txt.hide(100);
                        $(this).children('.arrow2').css('transform', 'rotate(0deg)');
                    }
                });      
    
    
</script>
          

{/snippet} 

<script>
    (function($, undefined) {

$.nette.ext('spinner', {
	init: function () {
		this.spinner = this.createSpinner();
		this.spinner.appendTo('body');
	},
	start: function () {
		this.spinner.show(this.speed);
	},
	complete: function () {
		this.spinner.hide(this.speed);
	}
}, {
	createSpinner: function () {
		return $('<div>', {
			id: 'ajax-spinner',
			css: {
				display: 'none'
			}
		});
	},
	spinner: null,
	speed: null
});

})(jQuery);
</script>    


{define moderate}
                <a href="#" data-toggle="modal" data-target="#modal-{$id}">Upravit</a>             
                        
                
                <div class="modal fade" id="modal-{$id}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                <h4 class="modal-title">Úprava komentáře</h4>
                            </div>
                            {var idsub = $id.'q'.$sub}
                            {form moderateCommentForm-$idsub}
                                <div class="modal-body">                              
                                    <table>
                                        <tr>
                                            {ifset $form['unregName']}
                                                <th>{label unregName/}</th>
                                                <th>{input unregName}</th>
                                            {/ifset}
                                        </tr> 
                                        <tr>
                                            <th>{label text/}</th>
                                            <th>{input text}</th>
                                        </tr>
                                        <tr>
                                            <th>{label deleted/}</th>
                                            <th>{input deleted}</th>
                                        </tr>
                                        
                                    </table>    
                                   
                                </div>
                                        
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavřít</button>
                                    {input moderate, class=> 'btn btn-primary'}
                                </div>
                                <input n:ifset="$subFor" type="hidden" name="subFor" value="{$subFor}">
                            {/form}             
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
{/define}