{define title}{$article->title}{/define}

{block content}

{if $presenter->resourceAuthorizator->canUse('Article', $article->id)}
    <p><a n:href=":Admin:Article:updateArticle, $article->id">Upravit článek</a></p>
{/if}

{$article->text |noescape}

