{block title}Hledání{/block}

{block content}

{if $result && !$error}
    {foreach $result as $article}
	{include '../Article/article-view.latte', 'article'=>$article}
    {/foreach}
{else}
    <h1>Bohužel jsme nic nenašli</h1>
    <h1>{$error}</h1>
{/if}