parameters:

http:
    headers:
        X-Powered-By: no

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 48 days


services:
	- App\Model\UserManager
	- App\Model\ArticleManager
	- App\Model\CaptchaManager
	- App\Model\NewsManager
	- App\Model\RatingManager
	- App\Model\CommentsManager
	- App\Model\TextManager
	- App\Authorization\ResourceAuthorizator
	- App\Forms\LogFormFactory
	- App\Forms\LostPassForm
	- App\Forms\NewPassForm
	- App\Forms\SettingFormFactory
	- App\Components\IRatingControlFactory
	- App\Components\ICommentsControlFactory
	router: App\RouterFactory::createRouter(@App\Model\ArticleManager)
	app.authorizatorFactory: App\Authorization\AuthorizatorFactory
	app.authorizator: @app.authorizatorFactory
	nette.latteFactory:
		setup:
			- addFilter(timeInterval, @App\Helper\Helper::timeInterval)
			- addFilter(smThumb, @App\Helper\Helper::getSmallThumb)
			- addFilter(longThumb, @App\Helper\Helper::getLongThumb)
			
	- App\Helper\Helper