parameters:

http:
    headers:
        X-Powered-By: no

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\UserManager
	- App\Model\SendMailManager
	- App\Forms\LogFormFactory
	- App\Forms\RegisterFormFactory
	- App\Forms\LostPassForm
	- App\Forms\NewPassForm
	- App\Forms\SettingFormFactory
	router: App\RouterFactory::createRouter