parameters:

http:
    headers:
        X-Powered-By: no

php:
	date.timezone: Europe/Prague


application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


services:
	- App\Model\UserManager
	- App\Model\ArticleManager
	- App\Model\CaptchaManager
	- App\Model\NewsManager
	- App\Authorization\ResourceAuthorizator
	- App\Forms\LogFormFactory
	- App\Forms\LostPassForm
	- App\Forms\NewPassForm
	- App\Forms\SettingFormFactory
	router: App\RouterFactory::createRouter
	app.authorizatorFactory: App\Authorization\AuthorizatorFactory
	app.authorizator: @app.authorizatorFactory