<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení registrace</title>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Zažádal jste o změnu mailu na webu <a href="http://arspoetica.net">Ars poetica</a> pro uživatele {$name}</p>
    
    <p>Prosím {if $logedable}přihlašte se a zadejte ověřovací kód: {$checkCode} na adrese: <a href="http://arspoetica.net/nastaveni/novy-mail">http://arspoetica.net/nastaveni/novy-mail</a>
    nebo{/if} klikněte na  <a href="http://arspoetica.net/uzivatel/overit/{$checkCode}">arspoetica.net/uzivatel/overit/{$checkCode}</a>
    </p>
    
</body>
</html>