{block title}Změnit mail{/block}

{block content}
<p>Nastavený mail: {$user->getIdentity()->mail}</p>
<p n:if="$user->getIdentity()->oldMail">Starý mail: {$user->getIdentity()->oldMail}</p>
<p>Pozor před odesláním si zkontrolujte svůj přístup k mailové adrese. Po odeslání se ještě můžete vrátit ke svému starému mailu, ale po odhlášení už ne.</p>
{if $enterCode}
    {control enterCode}
{else}
    {control changeMail}
{/if}