<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Potvrzení registrace</title>
</head>
<body>
    <p>Dobrý den,</p>

    <p>Pravděpodobně jste poslal žádost o nové heslo na webu <a href="http://arspoetica.net">Ars poetica</a> pro uživatele {$name}</p>
    
    <p>Prosím zadejte své nové heslo zde: <a href="http://arspoetica.net/uzivatel/nove-heslo/{$checkCode}">arspoetica.net/uzivatel/nove-heslo/{$checkCode}</a></p>
    
    <p>Pokud jste žádost nepochází od Vás můžete ignorovat tento mail</p>
    
</body>
</html>